.banner{
    display: flex;
    min-height: 43vh;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(23,22,0,1) 100%);
    flex-direction: row;
    flex-wrap: wrap;
}

.imgcdcomp{
    width: 600px;
}

.titulo{
    color: #D7B614;
    text-align: left;
}

.pepelocotxt{
    font-size: 90px;
}

.subtitulo{
    color: #FCFAFA;
    text-align: left;
    background-color: #77650d;
    text-align: center;
    margin: 40px 30px 40px 30px;
}

.imgbanner{
    padding: 40px;
}

.textosbanner{
    padding: 50px;
}